<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<link rel="stylesheet" href="/<%survey_id%>/style.css">
<body bgcolor="<%bgcolor%>" link="<%linkcolor%>" vlink="<%vlinkcolor%>" class="body">
<table  CELLPADDING="5" CELLSPACING="0" CLASS="mytable">
 <tr><th class="heading">Thank you for answering our questions</th></tr>
 <tr><td class="options">
 <center>
 <p>
 Thank you very much for your input.  We greatly appreciate you taking the time to participate in this study.
 </p>
 <p>
 If you have any questions please email us at:<BR></BR>
 <a href="mailto:info@market-research.com?subject=<%survey_name%>">info@market-research.com</a>
 </p>
 <p>When emailing questions, please refer to the "<%survey_name%>" in the Subject Heading.
 </p>
 <p>Please hit the "home" button on your browser or simply close this window to end the survey.</p>
 </center>
  </td></tr></table>
</body>
</html>
