<HTML><HEAD>
<SCRIPT language="JavaScript">
function hideme()
	{
	parent.frames.body.hideme();
	}
function showme()
	{
	parent.frames.body.showme();
	}
</SCRIPT>

<TITLE><%survey_title%></TITLE>

</HEAD><BODY BGCOLOR="C0C0C0">
<TABLE>
	<TR>
		<TD><BUTTON ID="backbtn" onclick="parent.frames.body.goprev()"> &lt&ltBACK</BUTTON></TD>
		<TD><BUTTON ID="nextbtn" onclick="parent.frames.body.gonext()">NEXT &gt&gt</BUTTON></TD>
		<TD><FONT size="-2" face="Arial" COLOR="Yellow">Survey Technology provided by 
                        <A HREF="mailto:info@triton-tech.com">Triton Technology</A>
                        <br>&copy; Triton Technology 1995.. all rights reserved</TD>
	</TR>
</TABLE>
</BODY>
</HTML>