.leftprog {
  background-color: #ff8888;
  color: YELLOW;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7pt;
  font-style: normal;
}
.rightprog {
  background-color: #ffffff;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7pt;
  font-style: normal;
}
.bigheading {
  background-color: #ff3333;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-style: normal;
  font-weight: bold;
}
.small {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 7pt;
}
.title {
  background-color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: bold;
}
.prompt {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11pt;
  font-style: normal;
  font-weight: bold;
}
.heading {
  background-color: #888888;
  color: #ffffff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  font-weight: bold;
}
.options {
  background-color: #ffffcc;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
.options2 {
  background-color: palegreen;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
}
.instruction {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 9pt;
}
.default {
}
.links {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
.body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
}
.mytable {
  color: black;
  border-width: 2px;
  border-color: #666666;
  border-style: solid;
}
.warning {
  color: red;
  background-color: #eeeeee;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  border-color: red;
  border-style: solid;
  border-width: 1px;
}
Td.options {
  border-width: 0 0 1px 0;
  border-color: #666666;
  border-style: solid;
}
.qlabel {
  background-color: #ffffff;
  color: #336633;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 12pt;
  font-weight: bold;
}
table {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-weight: normal;
}

.cardoptions {
  background-color: cyan;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  font-style: normal;
  font-weight: normal;
  display: none;
}
