.default {  }
.leftprog { background-color: #ff8888; color:YELLOW; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; }
.rightprog { background-color: #ffffff; color:#ff0000; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; }
.bigheading { background-color: #FF3333; color:#000000; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; }
.small { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt}
.title { background-color: #FFFFFF; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight:bold}
.instruction {  font-family: Calibri, Arial, Helvetica, sans-serif; font-style: italic; font-size: 9pt; }
.links {  font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt}

.prompt {  font-family: Calibri, Verdana, Arial, Helvetica, sans-serif; font-size: 11pt; font-style: normal; font-weight: bold; }
.heading { background-color: #e0e0e0; color:#45526e; font-family: Calibri, Verdana, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; }
.grid_options { background-color: #f8f8f8; color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.grid_options2 { background-color:#f0f0f0;color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.options { background-color: #f8f8f8; color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.options2 { background-color:#f0f0f0;color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.body { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt}
.soria { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt}
.mytable { color:black; border-width:0px; border-color:#666666; border-style:none;}
.warning { color:red; background-color: #EEEEEE; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 10pt; border-color:red;border-style:solid;border-width:1px;}
Td.grid_options{border-width:0 0px 1px 0px; border-color:black #fcfce1 #3c5171 #fcfce1 ; border-style:solid;}
Td.grid_options2{border-width:0 0px 1px 0px; border-color:black #ffffcc #3c5171 #ffffcc; border-style:solid;}
Td.options{border-width:0 0 1px 0; border-color:#3c5171; border-style:solid;}
Td.options2{border-width:0 0 1px 0; border-color:#3c5171; border-style:solid;}
.qlabel { background-color: #ffffff;color:#000000; font-family: Calibri, Arial, Helvetica, sans-serif; font-style: normal; font-size: 12pt; font-weight: bold;}
table { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal;}

.grid_highlight {border-width:0px 0px 1px 0px;border-color:black #ffffcc black #ffffcc ;  color:#000000; background-color: #f8f8f8; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.grid_highlight2 { color:black; background-color:#f0f0f0; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.highlight {  color:#000000; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.highlight2 { color:black; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
Td.grid_highlight{border-width:0px 0px 1px 0px; border-color:black #b22500 black #b22500 ; border-style:solid; background-color:#f8f8f8;}
Td.grid_highlight2{border-width:0px 0px 1px 0px; border-color:#b22500; border-style:solid; background-color: #f0f0f0;}
Td.highlight{border-width:0 0 1px 0; border-color:#3c5171; border-style:solid; }
Td.highlight2{border-width:0 0 1px 0; border-color:#3c5171; border-style:solid; }
.grid_table{width: 600px;   border-collapse: collapse; border-spacing: 0px;}
.grid_table td {padding: 3px;}

.slider_table{width: 600px;   border-collapse: collapse; border-spacing: 0px;}
.slider_table td {padding: 0px;}
.slider_options { background-color: #ffffff; color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.slider_options1 { background-color: #ffffff; color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.slider_options2 { background-color:#ffffff;color:#3c5171; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
Td.slider_options{border-width:0 0 0px 0; border-color:#3c5171; border-style:solid; text-align: right; vertical-align: top;}
Td.slider_options1{border-width:0 0 0px 0; border-color:#3c5171; border-style:solid; text-align: right; vertical-align: middle;}
Td.slider_options2{border-width:0 0 0px 0; border-color:#3c5171; border-style:solid;text-align: right; vertical-align: top;}
.standout{color: black;}

.bannertable{margin:0;}
.bannerlogo{background-image: url('/themes/ekit/maplogo.png');background-repeat:no-repeat;height:80px; width:130px;}
.bluebar{background-image:url('/themes/ekit/bluebar.png');font-family:Calibri;font-size:14pt; color:white;height:28px; width:600px;} 
.bluebarq{background-image:url('/themes/ekit/bluebar.png');font-family:Calibri;font-size:14pt; color:white;} 

.bluebarw{background-image:url('/themes/ekit/bluebar1200.png');font-family:Calibri;font-size:14pt; color:white;height:28px; width:100%; padding: 0 5px 0px 0px;} 

.bluebar2{background-image:url('/themes/ekit/bluebar1200.png');font-family:Calibri;font-size:14pt; color:white;height:28px; width:600px;} 
.bluebar2a{background-image:url('/themes/ekit/bluebar.png');font-family:Calibri;font-size:14pt; color:white;height:28px; width:480px;} 
.bluebar3{background-image:url('/themes/ekit/bluebar.png');font-family:Calibri;font-size:14pt; color:white;height:28px; width:200px;} 
.status{ background-color: #FFFFFF; color: #aaaaaa; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-weight: normal;}
.divider{color:#3c5171;}
