<html><head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></head><link rel="stylesheet" href="/pwikit/style.css"><body bgcolor="#FFFFFF" link="" vlink="" class="body">
<TABLE width="600"><TR><TD><H2>Your responses have been sent to us.<BR><BR> Thank you for completing this form.</H2><P>If you are interested in keeping a copy of your responses, you may view them 
<NOSUBST>
<A HREF="/cgi-mr/getdoc.pl/<%survey_id%>.doc?sid=<%survey_id%>&id=<%uid%>&token=<%token%>" target="Word">here.</a> 
<NOSUBST>

You can either save this document to your hard disk or print it.</P><P><FORM ><INPUT TYPE="BUTTON" VALUE="Close window" onclick="top.window.close()"></FORM><HR><p>For technical support questions, please email <a href="mailto:ctwebb@mapconsulting.com">ctwebb@mapconsulting.com</a></font><br><hr></TD></TR></TABLE></body></html>
