<HTML>
<HEAD>
<TITLE>MAP010: Key Personnel Questionnaire</TITLE>
<link rel="stylesheet" href="style.css">
<SCRIPT Language="JavaScript">
<!--
function QValid()
    {
    if (document.q.token.value == "")
       {
       alert("Please fill in your id and password from the email invitation, and try again");
       return false;
       }
    return true;
    }
//-->
</SCRIPT>
</HEAD>
<BODY BGCOLOR=#CCCCFF class="body">
<FORM name="q" action="/cgi-mr/tokendb.pl" METHOD="POST" onsubmit="return(QValid())">

<IMG SRC="/MAP001/banner600.gif"><BR>
<TABLE BORDER="0" CELLPADDING="10" CELLSPACING="0"  width="600">
	<TR class="heading">
		<TD COLSPAN=3>
Welcome to the Key Personnel Questionnaire.
 		</TD>
	</TR>
	<TR class="options"><TD colspan=3>
<P>Please enter your id and password below. </P>

	</TD></TR>
	<TR class="options">
		<TH>Please enter your id: </TH>
		<TD >
			<INPUT TYPE="TEXT" NAME="id">
		</TD><TD ><font size="-1" color="red">(Your ID and password are at<br> the foot of the email message).</font>
	<TR class="options">
		<TH>Please enter your password: </TH>
		<TD>
			<INPUT TYPE="TEXT" NAME="token">
		</TD>
		<TD>
            <INPUT NAME="survey_id" TYPE="hidden" VALUE="MAP010">
		    <INPUT TYPE="SUBMIT" VALUE="Start survey">
		</TD>
	</TR>
		
</TABLE>
    
  <font face="Arial, Helvetica, sans-serif" size="-1"><b>Notes:</b> <br>
  1) This survey is to be completed by invitation only. Each password can only 
  be used once. If you experience any difficulties in completing the survey, or 
  have any questions, please contact <a href="mailto:ctwebb@mapconsulting.com">Support at Management Action Programs</a></font> <br>
    <font face="Arial, Helvetica, sans-serif" size="-1">2) If your internet connection 
    fails, simply re-dial, and continue the survey. If your computer re-boots, 
    you will be able to re-start the survey.</font>
</FORM>
</BODY>
</HTML>
