<table border="0" width="100%"><TR><TD>

<P>We are looking forward to working with <%aboutname%> in <%abouthisher%> upcoming MAP Workshop.  As <%firstname%>'s supervising manager or partner, your answers to the online questionnaires are vital to <%abouthisher%> participation and success in the MAP Program. Please complete these forms no later than <%duedate%>. It is important that the online questionnaires be completed by <%duedate%> so that we will have adequate time to customize the program to <%firstname%>'s specific needs. Our preference is that all forms be completed online, however, we have also provided the option for you to download, print, and fax them to us. For instructions on how to do this, please click on the Blank/Completed Forms link.

<P>If you have any questions, please do not hesitate to call Cathy Webb at 818.380.1177, ext. 225 or send an email to 
<A HREF="mailto:<%adminemail%>?subject=PWIKIT boss of <%id%>"><%adminemail%></a><BR><BR>


