.leftprog { background-color: #ff8888; color:YELLOW; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; }
.rightprog { background-color: #ffffff; color:#ff0000; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt; font-style: normal; }
.bigheading { background-color: #FF3333; color:#000000; font-family:  Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; }
.small { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 7pt}
.title { background-color: #e0e0e0; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 12pt; font-weight:bold}
.prompt {  font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 11pt; font-style: normal; font-weight: bold; }
.heading { background-color: #e0e0e0; color:#000000; font-family:  Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: bold; }
.options { background-color: #f8f8f8; color:#000000; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.options2 { background-color:#f0f0f0;color:black; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt; font-style: normal; font-weight: normal; }
.instruction {  font-family: Calibri, Arial, Helvetica, sans-serif; font-style: italic; font-size: 9pt; }
.default {  }
.links {  font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt}
.body { background-color: #FFFFFF; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 9pt}
.mytable { color:black; border-width:2px; border-color:#666666; border-style:solid;}
.warning { color:red; background-color: #EEEEEE; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 10pt; border-color:red;border-style:solid;border-width:1px;}
.error { color:red; background-color: #EEEEEE; font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 10pt; border-color:red;border-style:solid;border-width:0px;}
Td.options{border-width:0 0 1px 0; border-color:#666666; border-style:solid;}
